[submodule "Avionic/BR Interface"]
	path = Avionic/BR Interface
	url = https://github.com/berryrocket/br-interface.git
[submodule "Avionic/BR Code"]
	path = Avionic/BR Code
	url = https://github.com/berryrocket/br-code.git
